// Define variable defaults
$body-bg    : #F1F3F8;
$body-color : black;

$primary   : #222629;
$secondary : #497ef1;
$bar       : #bebebe;
$dark      : #f1f3f8;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #393e44;
$warning   : #F2C037;